
/*-----------------------------------------main-Body Style*/

body {
   font-family: 'Permanent Marker', cursive;
}

/*-------------------------------------- colors*/


/*-------------------------------------- Nav-Style*/




.navbar a {
   text-decoration: none;
   color: inherit;
}

.navbar a:hover {
   color:aliceblue;

}   

/*-------------------------------------- headings*/

h1,
h2,
h3,
h4 {
      font-family: 'Permanent Marker', cursive;
      color: #fafafa;
}

/*-------------------------------------- about us*/

/*-------------------------------------- contact*/

/*-------------------------------------- footer*/

/*-------------------------------------- Media Screen*/

