
/*-----------------------------------------main-Body Style*/

body {
   font-family: 'Permanent Marker', cursive;
}


/*-------------------------------------- colors*/

/*-------------------------------------- images*/

#hero-img {
   background: url(../images/hero-image.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 80%;
   padding: 0;
   animation-name: hero-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;
}

   


/*-------------------------------------- Nav-Style*/




/*-------------------------------------- headings*/

.text-center {
   text-align: center;
}

h1,
h2,
h3,
h4 {
      font-family: 'Permanent Marker', cursive;
      color: #fafafa;
}

/*-------------------------------------- about us*/

/*-------------------------------------- contact*/

/*-------------------------------------- footer*/

.social-links {
   text-align: center;
}

.social-links i {
   color: #fafafa;
}

/*-------------------------------------- Media Screen*/

